{% extends "master.html" %}
{% block title %}
Courses with Completed Prerequisites
{% endblock %}

{% block content %}
<h1>Courses with Completed Prerequisites</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col">Instructor</th>
            <th scope="col">Capacity</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <th scope="row">{{course.code}}</th>
            <th scope="row">{{course.name}}</th>
            <th scope="row">{{course.description}}</th>
            <th scope="row">{{course.instructor}}</th>
            <th scope="row">{{course.capacity}}</th>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}