{% extends "master.html" %}
{% block title %}
Course Reports
{% endblock %}

{% block content %}
<h1>Course Enrollment Report</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th scope="col">Enrollment Count</th>
        </tr>
    </thead>
    <tbody>
        {% for course in course_enrollment %}
        <tr>
            <th scope="row">{{course.code}}</th>
            <th scope="row">{{course.name}}</th>
            <th scope="row">{{course.students_enrolled}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}