{% extends "master.html" %}
{% block title %}
My Course Schedule
{% endblock %}

{% block content %}
<h1>My Course Schedule</h1>
{% if courses %}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th scope="col">Instructor</th>
            <th scope="col">Schedule</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <th scope="row">{{course.code}}</th>
            <th scope="row">{{course.name}}</th>
            <th scope="row">{{course.instructor}}</th>
            <td>{{ course.schedule.days }} {{ course.schedule.startTime }} - {{ course.schedule.endTime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No courses registered.</p>
{% endif %}

{% endblock %}