{% extends "master.html" %}
{% block title %}
Courses
{% endblock %}

{% block content %}
<form method="GET" action="{% url 'search_courses' %}" class="m-4">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Search</button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Course Name</th>
            <th scope="col">Instructor</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <th scope="row">{{course.code}}</th>
            <th scope="row">{{course.name}}</th>
            <th scope="row">{{course.instructor}}</th>
            <th scope="row"><a href="{% url 'course_details' course.id %}">View Details</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}